<div class="home col-lg-4" style="float: right;">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-weixin fa-fw"></i> Chat
          </div>
          <div class="panel-body">
            wip
          </div>
          <!-- /.panel-body -->
      </div>
    </div>

    <div class="home col-lg-4" style="float: left;">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-weixin fa-fw"></i> Preferências
          </div>
          <div class="panel-body">
            wip
          </div>
          <!-- /.panel-body -->
      </div>
    </div>

    <div class="home col-lg-4" style="float: center;">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-music fa-fw"></i> Próximas Músicas
          </div>
          <div class="panel-body">
            wip
          </div>
      </div>
    </div>
